#################
## NetBeans
#################

//Project files and directories
nbproject/
.dep.inc

//Building paths
build/
dist/

#################
## CodeLite
#################

//Project files and directories
.codelite/
*.project
*.workspace
Leonardo.txt

//Makefiles
Makefile
makefile
Leonardo.mk

//Building paths
Debug/
*.db

//YCM files
.ycm_extra_conf.*
