################
## Unity
################
Temp/
Library/
*.sln


#################
## NetBeans
#################

//Project files and directories
nbproject/
.dep.inc

//Building paths
build/
dist/

#################
## CodeLite
#################

//Project files and directories
.codelite/
*.project
*.workspace
Leonardo.txt

//Makefiles
Makefile
Makefile.inc
makefile
makefile.inc
Leonardo.mk

//Building paths
Debug/
*.db

#################
## General
#################
//YCM files
.ycm_extra_conf.*
*.o
